<!doctype html>
<html>
   <body>
   
      <table border = 1>
         <thead>
            <td>FullName</td>
            <td>Username</td>
            <td>Email</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["fullname"]}}</td>
               <td>{{row["username"]}}</td>
               <td> {{ row["email"]}}</td>
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a>
      
   </body>
</html>